<div class="container py-3">
    <h1 class="bg-dark">{{title}}</h1>
    <nav class="navbar navbar-expand navbar-dark bg-dark rounded seleccion my-3 p-3">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link" aria-current="/page" routerLink="dashboard" routerLinkActive="active">Dashboard <span class="visually-hidden">(current)</span></a>
            <a class="nav-item nav-link" routerLink="/heroes" routerLinkActive="active">Heroes</a>
        </div>
    </nav>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>

